@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Description"] = "Contoso Software privacy policy. Learn how we protect and handle your data with transparency and security.";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
